@model BookModel

<h1> Reserving @Model.Title</h1>

<h2> Your current User Score is: @ViewBag.UserScore</h2>
<form asp-action="Reserve">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Reserve" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>


<img src="/pics/Book_reserve_left.png" style="position:fixed; bottom:0%; right:0%; width:40%;" alt="" />
